@charset "UTF-8";
/* generales */
html {
  /* etiqueta raíz */
  font-size: 82.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Mate SC', serif;
}

/* Mi constante */
p {
  color: black;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin: auto;
  background-color: #000;
  -webkit-box-shadow: whitesmoke 1px 1px 5px #000;
          box-shadow: whitesmoke 1px 1px 5px #000;
}

header .logotipo {
  direction: inherit;
  font-family: 'Open Sans', cursive;
  font-weight: normal;
  color: var(--fondo);
  font-size: 40px;
}

.header.nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

:root {
  --blanco:white(255, 255, 255) ;
  --fondo: #ffffff;
}

/* Elements for Index page */
/*ESTILOS GLOBALES*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*ESTILOS HOME*/
body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  direction: inherit;
  font-family: 'Open Sans', cursive;
  font-weight: normal;
  color: var(--fondo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  display: inline;
  color: #FFF;
}

/*carrito*/
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*--------------------*/
a {
  text-decoration: none;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.tarjeta {
  background-color: #cccccc;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.tarjeta__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
}

.tarjeta__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.tarjeta__parrafo {
  line-height: 28px;
  font-size: 1rem;
}

.boton {
  height: 60px;
  padding: 20px;
  background-color: #d13a1f;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.boton--derecha {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

/* ---------- Articulos ----------*/
.articulo {
  background-color: #cccccc;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.articulo .contenedor-texto {
  padding: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.articulo .contenedor-thumbnail {
  width: 50%;
}

.articulo .titulo {
  margin-bottom: 10px;
  font-size: 25px;
}

.articulo .titulo a {
  font-weight: 400;
  color: #000;
}

.articulo .extracto {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #cccccc;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
  grid-area: destacado;
  color: #cccccc;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 1fr;
      grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
  min-height: 100%;
  width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.destacado .titulo a {
  color: #571313;
}

.destacado .titulo::after {
  margin: 10%;
  display: block;
  background-color: #cccccc;
  width: 6em;
  height: 1px;
}

.btn-link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.625em;
  background-color: #262626;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-link:hover {
  background: #000;
  text-decoration: none;
}

/*---------- CONTENIDO ----------*/
.contenido {
  grid-area: contenido;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  grid-gap: 20px;
}

/*---------- SIDEBAR ----------*/
.sidebar {
  padding: 5em 25px;
  text-align: center;
  min-height: 100px;
  grid-area: aside;
  background: #000;
  color: #868b8d;
  -webkit-box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .articulo.destacado {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.articulo.destacado .contenedor-thumbnail {
  height: 16em;
}

@media (max-width: 576) {
  body {
    font-size: 12px;
  }
}

/* Elements for Home page */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*ESTILOS HOME*/
body {
  font-family: 'Mate SC', serif;
  font-weight: 300;
  background-image: repeating-linear-gradient(90deg, #fff, #fff 20px, #fbfbfb 20px, #fbfbfb 40px);
}

/*---------- Header ----------*/
header {
  padding-top: 10px;
  margin: auto;
  background-color: #000;
  -webkit-box-shadow: whitesmoke 1px 1px 5px #000;
          box-shadow: whitesmoke 1px 1px 5px #000;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--fondo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #FFF;
}

/*carrito*/
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* ---------- Articulos ----------*/
.articulo {
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.articulo .contenedor-texto {
  padding: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.articulo .contenedor-thumbnail {
  width: 50%;
}

.articulo .titulo {
  margin-bottom: 10px;
  font-size: 25px;
}

.articulo .titulo a {
  font-weight: 400;
  color: #000;
}

.articulo .extracto {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #868b8d;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
  grid-area: destacado;
  color: white;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 1fr;
      grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
  min-height: 100%;
  width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.destacado .titulo a {
  color: #fff;
}

.destacado .titulo::after {
  margin: 10%;
  display: block;
  background-color: #868686;
  width: 6em;
  height: 1px;
}

.btn-link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.625em;
  background-color: #262626;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-link:hover {
  background: #000;
  text-decoration: none;
}

/*---------- CONTENIDO ----------*/
.contenido {
  grid-area: contenido;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  grid-gap: 20px;
}

/*---------- SIDEBAR ----------*/
.sidebar {
  padding: 5em 25px;
  text-align: center;
  min-height: 100px;
  grid-area: aside;
  background: #000;
  color: #868b8d;
  -webkit-box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

/* Elements for Nosotros page */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding-top: 10px;
  margin: auto;
  background-color: #000;
  -webkit-box-shadow: whitesmoke 1px 1px 5px #000;
          box-shadow: whitesmoke 1px 1px 5px #000;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--fondo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #FFF;
}

/*carrito*/
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* ---- ----- ----- Nosotros Principal ----- ----- ----- */
.nosotros-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("imagenes/pexels-rachel-claire-5490979.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("imagenes/pexels-rachel-claire-5490979.jpg");
  background-size: cover;
  margin-bottom: 3.12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.nosotros-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.nosotros-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.nosotros-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.nosotros-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  font-size: 1.12em;
}

.nosotros-principal .boton:hover {
  background: #fff;
  color: #000;
}

.nosotros-principal .boton i {
  margin-right: 1.25em;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }
  header .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nosotros-principal {
    font-size: 14px;
  }
  .nosotros-principal .descripcion {
    max-width: 100%;
  }
}

/* About us */
main .sobre-nosotros {
  padding: 30px 0 60px 0;
  background-color: white;
}

.contenedor-sobre-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
}

.imagen-about-us {
  width: 48%;
}

.sobre-nosotros .contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 15px;
}

.contenido-textos h3 span {
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Elements for Mi Cuenta page */
/*ESTILOS GLOBALES*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------- Header ----------*/
body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding-top: 10px;
  margin: auto;
  background-color: #000;
  -webkit-box-shadow: whitesmoke 1px 1px 5px #000;
          box-shadow: whitesmoke 1px 1px 5px #000;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--fondo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #FFF;
}

/*carrito*/
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-container {
  height: 43.75em;
  width: 60em;
  border-radius: 10px;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.login-info-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  background-color: var(--login-bg);
}

.image-container {
  padding: 2rem;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--title-bg);
}

.social-login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.social-login-element {
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: 1px solid var(--button-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-login-element img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem;
}

.social-login-element:hover {
  background-color: #e05412;
}

.login-info-container > p {
  font-size: 1.25em;
  margin-top: 1.5em;
}

.inputs-container {
  height: 55%;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input, .btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em;
}

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input:hover {
  border: 2px solid var(--button-bg);
}

.btn {
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  cursor: pointer;
}

.inputs-container p {
  margin: 0;
}

.span {
  color: var(--light-pink);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .login-container {
    width: 70%;
    margin-top: 3rem;
  }
  .login-info-container {
    width: 100%;
    border-radius: 5px;
  }
  .image-container {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .login-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .login-container {
    height: 90%;
  }
  .social-login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30%;
  }
  .login-info-container > p {
    margin: 0;
  }
}

/* Elements for Productos page */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------- Header ----------*/
body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 0%;
  margin: 0;
  background-color: #000;
  -webkit-box-shadow: whitesmoke 1px 1px 5px #000;
          box-shadow: whitesmoke 1px 1px 5px #000;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--fondo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #FFF;
}

/*carrito*/
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

a {
  text-decoration: none;
}

/*bloques*/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.tarjeta {
  background-color: #cccccc;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.tarjeta__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.tarjeta__parrafo {
  line-height: 28px;
  font-size: 1rem;
}

.boton {
  height: 60px;
  padding: 20px;
  background-color: #d13a1f;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.boton--derecha {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

/* Galeria */
.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-port:hover .hover-galeria {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Elements for Contacto page */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 100px;
}

.container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.contact-box {
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #f84f00;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #f84f00;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background-color: #e9c348;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

/** Form image **/
@media screen and (max-width: 800px) {
  .contact-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Elements for 404 page */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mate SC", serif;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(violet, blue));
  background-image: linear-gradient(blue violet);
}

.contenedor-error {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1400px) {
  .numeros {
    left: 50%;
  }
}

.numeros span {
  font-size: 35rem;
  color: white;
  font-weight: 700;
  text-shadow: black;
}

.boton-home {
  top: 50rem;
  left: 60rem;
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  border: 1px solid white;
  letter-spacing: normal;
  background-color: white;
  font-size: 2rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

@media (min-width: 1400px) {
  .boton-home {
    left: 90rem;
  }
}

.boton-home:hover {
  background: blueviolet;
  color: white;
}
/*# sourceMappingURL=style.css.map */